#storeIndex {
  width: 100%;
}

.carousel {
  width: 100%;
  background-color: #f7f9fa;
}

.carouselDiv {
  width: 100%;
  overflow-x: hidden;
}

.carouselDiv > ul > li {
  display: flex;
  justify-content: center;
}

.carouselDiv > ul > li > img {
  height: 380px;
}
