/*nav First*/
.navFirst {
  position: fixed;
  z-index: 1102;
  transition: top 0.1s ease 0s;
  top: 0px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eaedef;
}

.navFirstDiv,
.navSecondDiv {
  display: flex;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1256px;
  box-sizing: border-box;
}

.navFirstDiv {
  position: relative;
  padding: 20px 5%;
  height: 70px;
  line-height: 0;
}

.navLogo {
  color: #212629;
  font-size: 15px;
}

.navLogoA {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: -4px;
  padding: 4px;
  font-size: 0;
  line-height: 0;
  color: var(--grey);
  outline: none;
  height: 26px;
}

.navLogoSvg {
  height: 26px;
}
path {
  fill: #000;
}

.navLeft,
.navRight {
  width: 100%;
}
.navLeft {
  display: flex;
  min-width: 300px;
  margin-left: 20px;
  justify-content: flex-start;
  align-items: center;
  font-weight: bolder;
}
.navLeft > a {
  color: #2f3438;
  margin: 0 10px;
  font-size: 1.3em;
  width: fit-content;
}
.navLeft > a:hover,
.navLeft > a:nth-child(2) {
  color: var(--mainColor);
}
.navRight {
  min-width: 625px;
}
.navRight,
.navRight > div,
.navRight > div > div {
  display: flex;
  align-items: center;
}

.navRightSearch,
.navRightCart {
  margin: 0 8px;
}
.navRightSearch {
  position: relative;
}
.navRightSearch > span {
  position: absolute;
  left: 8px;
}
.navRightSearch > input {
  border: 1px solid rgba(128, 128, 128, 0.3);
  padding: 8px;
  padding-left: 30px;
  color: grey;
  width: 250px;
}
.navRightSearch > input:hover {
  background-color: rgb(247, 247, 247);
}
.navRightSearch > input:focus {
  border: 1px solid var(--mainColor);
  outline: none;
}

.navRightCart {
  font-size: 1.1em;
}

.navRightMenus > div {
  width: fit-content;
  min-width: 170px;
}
.navRightMenus > div > a {
  padding: 0 8px;
  font-weight: bold;
  color: grey;
}
.navRightMenus > div > a:not(:nth-child(3)) {
  border-right: 1px solid rgba(128, 128, 128, 0.5);
}
.navRightMenus > span > button {
  display: flex;
  padding: 10px 12px;
  border-radius: 5px;
  justify-content: space-between;
  width: fit-content;
  border: none;
  color: white;
  background-color: var(--mainColor);
  cursor: pointer;
}
.navRightMenus > span > button:hover {
  background-color: rgb(0, 159, 206);
}

/*nav Second*/
.navSecond {
  position: fixed;
  z-index: 1100;
  transition: top 0.1s ease 0s;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eaedef;
}
.navSecond:not(.navScroll) {
  top: 60px;
}
.navScroll {
  top: 10px;
}

.navSecondDiv {
  height: 60px;
  width: 100%;
  padding: 18px 5% 0px 5%;
  overflow-x: auto;
  overflow-y: hidden;
}

.navDivMenus {
  min-width: 600px;
}

.navDivMenus > a {
  font-weight: bolder;
  padding: 8px;
  padding-bottom: 9px;
  font-size: 1.2em;
}

.navDivMenus > a:not(.currentMenu) {
  color: var(--grey);
}
.navDivMenus > a:hover {
  color: var(--mainColor);
}

.currentMenu {
  color: var(--mainColor);
  border-bottom: 2px solid var(--mainColor);
}

.navDivRank {
  display: flex;
  justify-content: space-between;
  min-width: 150px;
}
.navRank {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}
.navRank > span {
  margin: 0 2px;
}

.navRank > span:first-child {
  font-weight: bold;
  color: var(--grey);
}

.navRank > span:nth-child(2) {
  font-size: 0.7em;
}

.navRank > .navRankNew {
  color: tomato;
}

.navDivRank > span {
  cursor: pointer;
}
